[submodule "application/wypl-image/src/main/resources/security"]
	path = application/wypl-image/src/main/resources/security
	url = https://github.com/What-s-Your-Plan/wypl-image-properties.git
	branch = main